contextlib2==0.6.0.post1
future==0.18.2
jaeger-client==4.3.0
opentracing==2.3.0
opentracing-instrumentation==3.2.1
redis==3.4.1
six==1.14.0
threadloop==1.0.2
thrift==0.13.0
tornado==5.1.1
wrapt==1.12.1
